a{
    display: inline-block;
    height: 5vh;
    background-color: white;
    padding-top: 2.5vh;
    font-size: 25px;
    margin-top: 2.5vh;
    margin-left: 8.5vw;
    border: black solid 3px;
    border-radius: 25px;
    text-decoration: none;
    padding-left: 0.5vw;
    color: black;
    width: 20vw;
}
h1{
    display: flex;
    justify-content: center;
    color: coral;
    font-size: 75px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
    background-color: lightgray;
    background-image: url("https://img.freepik.com/free-photo/navy-blue-concrete-wall-with-scratches_53876-102666.jpg");
}
a:hover{
    cursor: pointer;
    transform: scale(1.015);
}